<!-- Mengambil Order ID yang dikirim dari controller -->
@model int

<!-- Kontainer utama -->
<div class="container row pt-4">

    <!-- Bagian judul -->
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        
        <!-- Menampilkan nomor order -->
        Your Order Number Is : @Model 
        <br/><br/>
    </div>

    <!-- Pesan tambahan -->
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Your Order Has Been Placed Successfully!
        <br/>
    </div>
    
</div>