@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1>@ViewData["Title"]</h1>

<!-- Partial view untuk menampilkan status pesan -->
<partial name="_StatusMessage" model="Model.StatusMessage" />
