@* Model halaman yang menangani logika reset password *@
@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";  // Menetapkan judul halaman
}

<!-- Judul halaman -->
<h1>@ViewData["Title"]</h1>

<!-- Pesan konfirmasi -->
<p>
    Your password has been reset. Please 
    <a asp-page="./Login">click here to log in</a>.  @* Link menuju halaman login menggunakan Tag Helper asp-page *@
</p>
